/*
1.top header css
2.main_menu_area css
3.slider_area css
4.who_we_are css
5.solution_single_item css
6.section_title css
7.about area css
8.feature_area css
9.service_area css
10.team_area css
11.techit_counter_area css
12.techit_skill_area css
13.video_area css
14.process_area css
15.testimonial_area css
16.techit_tab_area css
17.techit_blog_area css
18.footer_area css
*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Saira:wght@100;300;400;500;600;700;800;900&display=swap');

/*=== global css start ===*/
body {
	margin: 0;
	margin: auto;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Mulish', sans-serif;
	line-height: 1.6;
	color: #4A4C59;
	overflow-x: hidden;
} 
html {
	overflow-x: hidden;
}
p{
	font-style:normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a, 
h6 a {
	font-family: 'Saira', sans-serif;
	font-size:21px;
	color:#232323;
	font-weight: 700;
}
ul { 
	list-style: none; 
}
ul li { 
	list-style: none;
}
a { 
	color:#626262;
	text-decoration: none;
}
a:hover{
	
}
img {
	max-width: 100%;
}

/*=== global css ends ===*/

/*=== top_header_area css start ===*/

.techit_main_area {
	overflow-x: hidden;
}

.top_header_area {
	background-color: #0c3eb9; 
	padding: 12px 30px;
	border-bottom:1px solid #f2f2f3;
}
.top_left_address {
	margin-left: 120px;
}
.top_left_address span,
.top_left_address a {
	margin-right: 20px;
	color: #fff;
	font-size: 14px;
}
.top_right_info {}
.top_left_address span i {
	margin-right: 2px;
	color: #fff;
}
.top_left_address a i {
	margin-right: 4px;
	color: #fff;
}
/*=== top_header_area css ends ===*/

/*=== top_social_menu css start ===*/
.top_social_menu {
	margin-left: 20px;
}
.top_social_menu ul {
	margin: 0;
	
}
.top_social_menu ul li {
	display: inline-block;
}
.top_social_menu ul li a {}
.top_social_menu ul li a i {
	color: #fff;
	margin: 0 5px;
	transition: .3s;
}
.top_social_menu ul li a:hover i {
	color: #ff7e00;
	
}

/*=== top_social_menu css start ===*/

/*=== top_right_info css start ===*/
.top_right_info {
	text-align: right;
	margin-right: 120px;
}
.top_right_info a {
	margin-left: 22px;
	color: #fff;
	font-size: 14px;
}
.top_right_info a i {
	color: #fff;
	margin-right: 4px;
}
/*=== top_right_info css ends ===*/


/*=== main_menu_css start ===*/
.logo_area {
	margin-top: 24px;
	padding-left: 30px;
}
.main_logo.header_logo {
	display: none;
}
.sticky_logo {
	display: none;
	transition: .5s;
}
.sticky_logo.stick_logo {
	display: block;
}
.main_menu_area {
	margin: 0;
}
.main_menu {}
#sticker {
	padding: 0 120px;
}
.is-sticky .sticky_menu {
	background-color: #1d1919d9;
	transition: .5s;
}
.techit_menu_item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.main_menu > ul {
	text-align: right;
	margin: 0;

}
.main_menu > ul > li {
	display: inline-block;
	list-style: none;
	position: relative;
	
}
.is-sticky .main_menu > ul > li > a {
	color: #fff;
}
.is-sticky .main_menu > ul > li > a:hover {
	color: #fff;
}
.main_menu > ul > li > a {
	display: block;
	margin: 30px 21px;
	color: #4a4c59;
	text-transform: capitalize;
	transition: .3s all ease;
	font-size: 20px;
	font-weight: 600;
	
}
.main_menu > ul > li > ul > li > a i,
.main_menu > ul > li > a i {
	color: #8591b2;
	font-size: 14px;
	font-weight: 400;
}
.main_menu > ul > li > a:hover {
	color: #0c3eb9;
}
.main_menu ul li:last-child a {
	margin-right: 0;
}
/*=== main_menu_css ends ===*/

/*=== submenu css start ===*/
.main_menu ul ul {
	position: absolute;
	top: 120%;
	left: 0;
	background-color: #0c3eb9;
	z-index: 1;
	padding: 14px 0;
	margin: 0;
	width: 200px;
	opacity: 0;
	transition: .5s;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: top center;
}
.main_menu ul ul li {
	text-align: left;
	position: relative;
}
.main_menu ul ul li a {
	display: block;
	padding: 8px 21px;
	color: #fff;
	text-transform: capitalize;
	transition: .3s all ease;
	font-size: 18px;
	font-weight: 500;
}
.main_menu ul ul li:hover > a  {
	background-color: #435a92b3;

}
.main_menu ul ul ul {
	position: absolute;
	top: 100%;
	left: 100%;
	opacity: 0;
	transition: .5s;
	visibility: hidden;

}
.main_menu ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	top: 100%;
	transform: scaleY(1);
	
}
.main_menu ul ul li:hover ul {
	opacity: 1;
	visibility: visible;
	top: 0;
	
}
/*=== submenu css ends ===*/
.techit_menu_btn a {
	border: none;
	display: inline-block;
	font-size: 17px;
	margin-left: 30px;
	font-weight: 700;
	text-transform: capitalize;
	background-color: #1a5cfefc;
	border-radius: 3px;
	color: #fff;
	padding: 10px 25px 14px;
	margin-right: 40px;
}
/*.techit_menu_btn a:hover {
	background-color:  #15234a;
	color: #fff;
	}*/


	/*mobile_logo_area start*/
	.mobile_logo_area {
		display: none;
	}
	.mobile_logo_area a {}
	.mobile_logo_area a img {}


	/*=== slider_area css start ===*/

	.slider_image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.slider_content {
		height: 800px;
		width: 54%;
		position: relative;
	}
	.slider_content_inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	.slider_content_text {
		margin-left: 180px;
	}
	.slider_content_text h3{
		font-size: 24px;
		color: #000;
		text-transform: capitalize;
		font-weight: 700;
	}
	.slider_content_text h2 span {
		color: #0c3eb9;
	}
	.slider_content_text h2 {
		font-size: 90px;
		color: #000;
		font-weight: 700;
		text-transform: capitalize;
	}
	.slider_content_text p {
		padding: 20px 0;
		font-size: 21px;
	}
	.slider_content_text a {
		padding: 10px 30px;
		display: inline-block;
		background: #005aff;
		color: #fff;
		font-size: 16px;
		border-radius: 30px;
		margin-right: 25px;
		transition: .5s all ease;
	}
	.slider_content_text a:hover {
		background-color: #fff;
		color: #24a3d8;
	}
	.slider_btn a,
	.slider_btn2 a {
		background: #fff;
		display: inline-block;
		padding: 12px 30px;
		text-transform: capitalize;
		color: #0C3EB9;
		border-radius: 4px;
		transition: .5s all ease;
		position: relative;
		z-index: 9999;
		font-size: 22px;
	}
	.slider_btn a:hover,
	.slider_btn2 a:hover {
		background-color: #0C3EB9;
		color: #fff;
	}
	.slider_btn a i,
	.slider_btn2 a i {
		margin-left: 10px;
	}
	/*=== slider_area css ends ===*/

	/*=== slick slider arrow css start ===*/
	.slick_slider .slick-prev,
	.slick_slider .slick-next {
		background: transparent;
		border: 2px solid #0c3eb9;
		height: 52px;
		width: 52px;
		border-radius: 5px;
		font-size: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		line-height:48px;
		transition: .5s all ease;
		opacity: 0;

	}
	.slick_slider .slick-prev:hover,
	.slick_slider .slick-next:hover {
		background-color: #0c3eb9;
		color: #fff;
	}
	.slick_slider .slick-prev {
		left: 20px;
		right: auto;
	}
	.slick_slider .slick-next {
		right: 20px;
		left: auto;
	}
	.slick_slider .slick-prev::before,
	.slick_slider .slick-next::before {
		content: '\ea94';
		font-family:IcoFont;
		font-size: 30px;


	}
	.slick_slider .slick-prev::before {
		content: '\ea93';
	}
	.slick_slider .slick-next::before {
		content: '\ea94';
	}
	.slick_slider .slick-slider:hover .slick-prev,
	.slick_slider .slick-slider:hover .slick-next{
		opacity: 1;
	}
	/*=== slick slider arrow css ends ===*/

	/*=== slick-dots css start ===*/
	.slick_slider .slick-dots {
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
	}
	.slick_slider .slick-dots li {
		display: inline-block;
	}
	.slick_slider .slick-dots li button {
		border: none;
		background: #ddd;
		margin: 5px;
		height: 30px;
		width: 30px;
		border-radius: 30px;
		line-height: 30px;
	}
	.slick_slider .slick-dots li.slick-active button {
		background-color: #000;
		color: #fff;
	}
	/*=== slick-dots css ends ===*/

	/*=== section_title css start ===*/

	.section_title {
		width: 73%;
	}
	.section_title h3 {
		font-size: 17px;
		font-weight: 600;
		color: #0C3EB9;
	}
	.section_title h2 {
		font-size: 50px;
		margin-bottom: 30px;
	}
	.section_title p {
		font-size: 18px;
		margin-bottom: 45px;
	}
	/*=== section_title css ends ===*/

	/*=== about area css start ===*/
	.about_area {
		padding: 100px 0;
	}
	.about_right_area {
		margin: 0 10px 0 70px;
	}
	.about_left_area {
		margin: 0 58px;
	}

	.about_animate {
		position: relative;
		animation: mymove 3s linear  2s infinite  alternate  running;
	}
	@keyframes mymove {
		from {top: 0px;}
		to {top: 70px;}
	}
	.about_animate_inner {
		background: #fff;
		width: 500px;
		height: 500px;
		border: 140px solid #0C3EB9;
		border-radius: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.techit_thumb_about img {
		width: 100%;
		height: auto;
	}
	/*=== about area css ends ===*/

	/*=== techit_service_item start ===*/
	.techit_service_item {
		margin-bottom: 25px;
	}
	.techit_service_icons {
		float: left;
		margin-right: 20px;
	}
	.techit_service_icons i {
		font-size: 25px;
		height: 55px;
		width: 55px;
		box-shadow: 0 0 10px 0 #00000021;
		display: inline-block;
		line-height: 55px;
		text-align: center;
		border-radius: 30px;
		transition: .4s all ease;
	}
	.techit_service_item:hover .techit_service_icons i {
		background-color: #0C3EB9;
		color: #fff;
	}
	.techit_service_text {
		overflow: hidden;
	}
	.techit_service_text h2 {
		transition: .3s;
	}
	.techit_service_text h2:hover {
		color: #0C3EB9;
	}
	.about_video {

	}
	.about_video a i {
		font-size: 25px;
		height: 67px;
		width: 67px;
		background-color: #0C3EB9;
		display: inline-block;
		line-height: 67px;
		text-align: center;
		border-radius: 100%;
		color: #fff;

	}
	.vtext {
		margin: 0 31px;
		font-size: 17px;
		font-weight: 700;
		color: #000;
	}
	.vsigneture {
		margin-left: 18px;
	}
	/*=== techit_service_item start ===*/

	/*=== feature_area css start ===*/
	.feature_area {
		padding-bottom: 100px;
	}
	.single_feature {
		box-shadow: 0 0 10px 0 #00000021;
		padding: 25px 25px 7px;
		position: relative;
		z-index: 1;
	}
	.single_feature::before {
		content: '';
		position: absolute;
		background-color: #0C3EB9;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		opacity: 0;
		transition: .5s all ease;
	}
	.single_feature:hover::before {
		opacity: 1;
	}
	.feature_icons {
		float: left;
		margin-right: 20px;
	}
	.feature_icons i {
		font-size: 25px;
		height: 55px;
		width: 55px;
		box-shadow: 0 0 10px 0 #00000021;
		display: inline-block;
		line-height: 55px;
		text-align: center;
		border-radius: 30px;
	}
	.feature_content {
		overflow: hidden;
	}
	.single_feature:hover h2,
	.single_feature:hover p {
		color: #fff;
	}
	.single_feature:hover i {
		background-color: #fff;
		color: #0C3EB9;
	}
	/*=== feature_area css ends ===*/

	/*=== service_area css start ===*/
	.service_area {
		background-image: url(assets/images/cbg.jpg);
		background-position: center;
		background-size: cover;
		padding: 120px 0;
	}
	.service_area .section_title {
		width: 100%;
	}
	.service_item {
		background-color: #fff;
		padding: 60px 46px;
		position: relative;
		transition: .5s all ease;
		z-index: 1;
		margin: 15px 0;
	}
	.service_item:before {
		content: '';
		bottom: 100%;
		left: 0;
		right: 0;
		top: 0;
		height: 2px;
		width: 100%;
		background-color: rgba(12, 62, 185, 0.6);
		position: absolute;
		z-index: -1;
		transition: .8s all ease;
	}
	.service_icon {
		position: relative;
		z-index: 1;
	}
	.service_icon::before {
		content: '\ea5d';
		font-family: IcoFont;
		font-size: 30px;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		display: inline-block;
		line-height: 30px;
		background: #fff;
		text-align: center;
		border: 5px solid #e6ebf8;
		border-radius: 50%;
		color: #0c3eb9;
		z-index: -1;
		transition: .5s all ease;
	}
	.service_icon::after {
		content: '\eee6';
		font-family: IcoFont;
		font-size: 80px;
		position: absolute;
		top: -16px;
		left: 44px;
		z-index: -1;
		color: #ddd;
		transition: .5s all ease;
	}
	.service_icon i {
		font-size: 64px;
		margin-bottom: 16px;
		display: block;
		color: #0C3EB9;
		transition: .5s all ease;
	}
	.service_content {}
	.service_content h3 {
		margin: 22px 0;
		transition: .5s all ease;
	}
	.service_content p{
		font-size: 18px;
		transition: .5s all ease;
	}
	.service_btn {
		margin-top: 30px;
	}
	.service_btn a {  
		border: 1px solid #ddd;
		padding: 14px 30px;
		display: inline-block;
		border-radius: 5px;
		text-transform: uppercase;
		color: #0C3EB9;
	}
	.service_btn a i {
		margin-left: 5px;
		transition: .5s all ease;	
	}
	/*=== service_area css ends ===*/

	/*=== ervice hover part start ===*/
	.service_btn:hover a i {
		margin-left: 10px;
	}
	.service_item:hover {
		background-image: url(assets/images/service.jpg);
		background-size: cover;
	}
	.service_item:hover::before {
		bottom: 0;
		height: 100%
	}
	.service_item:hover .service_icon i {
		color: #fff;
	}
	.service_item:hover .service_icon::after {
		color: #f8f9fabd;
	}
	.service_item:hover h3 {
		color: #fff;
	}
	.service_item:hover h2 {
		color: #fff;
	}
	.service_item:hover p {
		color: #fff;
	}
	.service_item:hover .service_btn a {
		color: #fff;
	}
	.service_item:hover .service_icon::before {
		transform: rotate(90deg);
	}
	/*=== ervice hover part ends ===*/

	/*=== team_area css start ===*/
	.team_area {
		padding: 120px 0;
	}
	.team_area .section_title {
		width: 100%;
	}
	.team_right_content {

	}
	.section_title p {
		font-size: 20px;
	}
	.section_title_btn a {
		font-size: 20px;
		text-transform: uppercase;
		transition: .5s;
		color: #0C3EB9;
	}
	.section_title_btn:hover a {
		color: #626262;
	}
	.section_title_btn a i {
		margin-left: 8px;
	}

	.single_team {
		position: relative;
		overflow: hidden;
		padding-bottom: 55px;
	}
	.single_team_inner {

	}
	.team_tumb {}
	.team_tumb img {
		width: 100%;
	}
	.team_content {
		position: absolute;
		right: 10px;
		bottom: -60px;
		left: 10px;
		background: #fff;
		padding: 25px 0;
		transition: .8s;
	}
	.team_content_inner {
		text-align: center;
	}
	.team_content_inner h5 {
		margin-top: 10px;
		transition: .5s;
	}
	.team_content_inner span {
		text-transform: capitalize;
		font-size: 17px;
		transition: .5s;
	}
	.team_social_icon {}
	.team_social_icon a {
		background: #fff;
		border-radius: 50%;
		display: inline-block;
		height: 35px;
		line-height: 35px;
		margin: 14px 3px 0;
		text-align: center;
		width: 35px;
		color: #0c3eb9;
		transition: .5s;
		font-size: 20px;
	}
	.team_social_icon a:hover {
		background: #0c3eb9;
		color: #fff;
	}
	.team_social_icon a i{}

	.single_team:hover .team_content {
		bottom: 0;
		background: rgba(4, 74, 202, 0.94);
	}
	.single_team:hover .team_content_inner h5 {
		color: #fff;
	}
	.single_team:hover .team_content_inner span {
		color: #fff;
	}
	/*=== team_area css ends ===*/

	/*=== techit_counter_area css start ===*/
	.techit_counter_area {
		padding: 75px 50px;
		box-shadow: 0 0 30px 0 #0000001c;
		margin-top: 120px;
	}
	.counter_single {}
	.counter_icon {

	}
	.counter_icon i {
		float: left;
		margin-right: 15px;
		margin-top: 25px;
		font-size: 57px;
		color: #0C3EB9;
	}
	.counter_number_inner {
		overflow: hidden;
	}
	.counter_number_inner h3,
	.counter_number_inner span {
		font-size: 45px;
		font-weight: 700;
		margin-bottom: -4px;
		display: inline-block;
		color: #232323;
	}
	.counter_number_inner h4 {
		color: #232323;
		font-size: 18px;
		font-weight: 600;
	}
	/*=== techit_counter_area css ends ===*/

	/*=== project_area css start ===*/
	.project_area {
		padding: 120px 0;
		background-image: url(assets/images/cbg.jpg);
	}
	.project_area .section_title {
		width: 100%
	}
	.project_team_area {}
	.single_project {
		position: relative;
		overflow: hidden;
	}
	.single_project_inner {}
	.project_tumb img {
		width: 100%;
		transition: .8s;
	}
	.project_content {
		position: absolute;
		left: 45px;
		bottom: -74px;
		background: #fff;
		padding: 20px 25px;
		transition: 1s;
	}
	.project_content p {
		font-size: 16px;
		color: #0c3eb9;
		font-weight: 700;
		margin-bottom: 4px;
	}
	.project_content h3 {
		font-size: 21px;
		margin-bottom: -9px;
	}
	.service_btn {}
	.service_btn a {
		font-size: 16px;
		font-weight: 400;
		color: #fff;
		background: #0c3eb9;
		padding: 13px 25px;
		border-radius: 5px;
		display: inline-block;
		transition: 1s;
		border: 1px solid #0c3eb9;
	}
	.service_btn a i {
		margin-left: 5px;
		transition: .5s;
	}
	.service_btn a:hover i {
		margin-left: 10px;
	}

	.project_content_inner {
		text-align: left;
	}

	.service_btn a:hover {
		border: 1px solid #ececec;
		background: transparent;
		color: #0c3eb9;
	}
	.single_project:hover .project_content {
		bottom: 0;
	}
	.single_project:hover .project_tumb img {
		transform: scale(1.2);
	}
	/*=== project_area css ends ===*/

	/*=== techit_skill_area css start ===*/
	.techit_skill_area{
		padding-top: 120px; 
		display: block;
	}
	.skill_content .section_title {
		width: 100%;
	}
	.progress_content {
		overflow: hidden;
	}
	.progress_content h3 {
		font-weight: 400;
	}
	.progress_content span{
		background: #0c3eb9;
		height: 26px;
		width: 36px;
		display: inline-block;
		text-align: center;
		color: #fff;
		bottom: 38px;
		position: absolute;
		border-radius: 3px;
		right: 0;
		top: -28px;
	}
	.progress_content span:before {
		content: '';
		position: absolute;
		border: 11px solid transparent;
		border-right-color: #0c3eb9;
		left: -19px;
		top: 50%;
		transform: translateY(-50%);
	}
	.single_skill_area {

	}
	.single_skill {
		height: 5px;
		background: #E9ECEF;
		margin-bottom: 18px;
	}
	.single_skill_bar {
		height: 5px;
		background: #0C3EB9;
		position: relative;
	}
	/*=== techit_skill_area css start ===*/

	/*=== skill_right_area start ===*/

	.skill_right_area {
		position: relative;
	}
	.skill_shape_animate {
		position: relative;
		animation: mymove 3s linear  2s infinite  alternate  running;    
	}

	@keyframes mymove {
		from {top: 0px;}
		to {top: 70px;}
	}
	.skill_animate_inner {
		background: #fff;
		width: 530px;
		height: 530px;
		border: 140px solid #0C3EB9;
		border-radius: 100%;
		position: absolute;
		top: 0px;
		left: 70px;
		z-index: -1;
	}
	.skill_thumb_percent {
		width: 200px;
		height: 170px;
		padding: 25px 22px;
		text-align: center;
		background: #fff;
		box-shadow: 0 0 30px #0000001c;
		position: absolute;
		right: 0;
		top: 115px;
	}
	.skill_thumb_percent h2 {
		font-size: 45px;
		color: #0C3EB9;
	}
	.skill_thumb_percent p {
		font-size: 18px;
		font-weight: 700;
	}
	.techit_thumb_skill {}
	.techit_thumb_skill img {
		width: 100%;
		height: auto;
	}
	/*=== skill_right_area ends ===*/

	/*=== video_area css start===*/
	.video_area {
		background-image: url(assets/images/fous.jpg);
		padding: 100px 0 500px;
		margin-bottom: 100px;
		position: relative;
		z-index: 1;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.video_area:before {
		content: '';
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: #0c3eb980;
		position: absolute;
		z-index: -1;
	}
	.video_area .section_title {
		width: 100%;
	}
	.video_area .section_title h3 {
		color: #fff;
	}
	.video_area .section_title h2 {
		color: #fff;
	}
	.video_area .video_icon {
		position: absolute;
		top: 43%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.video_area .video_icon a i {
		height: 70px;
		width: 70px;
		background: #fff;
		color: #0C3EB9;
		display: inline-block;
		line-height: 70px;
		text-align: center;
		font-size: 25px;
		border-radius: 100%;
	}
	.video_btn {
		position: absolute;
		top: 59%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.video_btn a {
		background: #0c3eb9;
		border-radius: 3px;
		color: #fff;
		display: inline-block;
		font-size: 20px;
		font-weight: 400;
		padding: 12px 30px;
		text-transform: capitalize;
		transition: .5s;
	}
	.video_btn a:hover {
		background-color: #15263b;
	}
	.video_btn a i {
		margin-left: 10px;
	}
	.video_admin_area {
		padding: 30px;
		width: 460px;
		height: 333px;
		background: #fff;
		position: absolute;
		top: 75%;
		right: 22%;
		box-shadow: 0 0 30px 0 #0000001c;
	}
	.vadmin_content  {} 
	.vadmin_content .section_title h3 {
		font-size: 30px;
		color: #232323;
		font-weight: 600;
		width: 100%;
		margin: 0px 0px 18px 0px;
	} 
	.vadmin_content .section_title p {
		width: 74%;
		margin-right: auto;
		margin-left: 0px;
	} 
	.vadmin_ceo {
		margin-top: -20px;
	}
	.vadmin_img {
		float: left;
		margin-right: 20px;
	}
	.ceo_content {
		overflow: hidden;
	}
	.ceo_content h3 {}
	.ceo_content p {}
	/*=== video_area css ends ===*/

	/*=== process_area css start ===*/
	.process_area {
		padding: 120px 0;
	}
	.process_area .section_title {
		width: 100%;
	}
	.process_single_team {
		position: relative;
		overflow: hidden;
	}
	.process_single_img {}
	.process_single_img img {
		width: 100%;
		padding-bottom: 25px;
	}
	.process_btn {
		position: absolute;
		top: 50%;
		left: -102px;
		transform: translate(-50%, -50%);
		transition: .8s;
	}
	.process_btn a {
		background: #0c3eb9;
		border-radius: 3px;
		color: #fff;
		display: inline-block;
		font-size: 20px;
		font-weight: 400;
		padding: 12px 30px;
		text-transform: capitalize;
		transition: .5s;
	}
	.process_btn  a i {
		margin-left: 5px;
		transition: .5s;
	}
	.process_icon_con {
		box-shadow: 0 0 30px 0 #0000001c;
		padding: 30px;
		margin-top: -24px;
	}
	.process_icon {
		float: left;
		margin-right: 20px;
	}
	.process_icon i {
		font-size: 55px;
		color: #0c3eb9;
	}
	.process_content {
		overflow: hidden;
	}
	.process_content p {
		color: #0c3eb9;
	}
	.process_content h3 {
		margin-top: -8px;
	}

	.process_btn a:hover {
		background-color: #15263b;

	}
	.process_single_team:hover .process_btn {
		left: 50%;
	}
	.process_btn  a:hover i {
		margin-left: 10px;
	}
	/*=== process_area css ends ===*/

	/*=== testimonial_area css start===*/
	.testimonial_area .slick-prev,
	.testimonial_area .slick-next {
		background: transparent;
		border: 2px solid #0c3eb9;
		height: 52px;
		width: 52px;
		border-radius: 5px;
		font-size: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		line-height:48px;
		transition: .5s all ease;
		opacity: 0;
	}
	.testimonial_area .slick-prev:hover,
	.testimonial_area .slick-next:hover {
		background-color: #0c3eb9;
		color: #fff;
	}
	.testimonial_area .slick-prev {
		left: -60px;
		top: 107px;
	}
	.testimonial_area .slick-next {
		right: -60px;
		top: 107px;
	}
	.testimonial_area .slick-prev::before,
	.testimonial_area .slick-next::before {
		content: '\ea94';
		font-family:IcoFont;
		font-size: 30px;
	}
	.testimonial_area .slick-prev::before {
		content: '\ea93';
	}
	.testimonial_area .slick-next::before {
		content: '\ea94';
	}
	.testimonial_area .slick-slider:hover .slick-prev,
	.testimonial_area .slick-slider:hover .slick-next{
		opacity: 1;
	}

	.testimonial_area {
		padding: 120px 0;
		background-image: url(assets/images/skillbg.png);
		background-attachment: fixed;
		background-size: cover;
	}
	.testimonial_area .section_title {
		width: 100%;
	}
	.testimonial {
		box-shadow: 0 0 30px 0 #0000001c;
		padding: 41px 50px 43px;
		background: #fff;
		position: relative;
		z-index: 1;
		margin: 0 12px;
	}
	.testimonial::before {
		content: '\efcd';
		font-family: IcoFont;
		font-size: 60px;
		position: absolute;
		top: -17px;
		left: 47px;
		z-index: -1;
		color: #ECF0FA;
	}
	.testimonial::after {
		content: '\efce';
		font-family: IcoFont;
		font-size: 60px;
		position: absolute;
		bottom: -17px;
		right: 47px;
		z-index: -1;
		color: #ECF0FA;
	}
	.testimonial_item {
		width: 85%;
	}
	.testimonial_content {}
	.testimonial_content p {}
	.test_title {

	}
	.testi_img {
		float: left;
		margin-right: 20px;
	}
	.testi_content {
		overflow: hidden;
	}
	.testi_content h3 {
		display: inline-block;
	}
	.testi_content span {}
	.testi_icon {}
	.testi_icon i {
		color: #ff7e00;
		font-size: 22px;
	}
	/*=== testimonial_area css ends ===*/

	/*=== techit_tab_area css start ===*/
	.techit_tab_area {
		padding: 120px 0;
		background-color: #f4f9fc;
	}
	.techit_tab_area {}
	.tab_left_content p {
		color: #626262;
		font-size: 20px;
		width: 95%;
		margin-top: 34px;
	}
	.teachit_tabs {
		margin: 21px 0 0 165px;
	}
	.teachit_tabs ul {}
	.teachit_tabs ul li {}
	.teachit_tabs ul li a {
		color: #232323;
		border: 1px solid #e2e2e2;
		padding: 10px 0;
		font-size: 21px;
		margin: 0 15px;
		font-weight: 600;
		text-align: center;
	}
	.teachit_tabs ul li a i {
		font-size: 50px;
		color: #0c3eb9;
		position: relative;
		top: -15px;
	}
	.teachit_tabs ul li a span {
		overflow: hidden;
		display: inline-block;
		width: 54%;
		padding-top: 10px;
		font-family: Saira, sans-serif;
		font-size: 21px;
		color: #232232;
		font-weight: 600;
	}
	.tab-content {
		margin-top: 90px;
	}
	.tab_text {
		margin-left: 50px;
	}
	.tab_img  img {
		width: 100%;
	}
	.tab_text h3 {
		font-size: 30px;
	}
	.tab_text p {
		font-size: 18px;
	}  
	.tab_text a {
		font-size: 21px;
		font-weight: 500;
	} 
	.tab_text a i {
		margin-left: 5px;
		transition: .5s;
	}
	.tab_text a:hover i {
		margin-left: 10px;
	}
	.nav-pills .nav-link {
		border: 1px solid #ddd;
	}
	.nav-pills .nav-link.active {

		background-image: url(assets/images/tab-bg.png);
		background-color: transparent;
	}
	/*=== techit_tab_area css ends ===*/

	/*=== techit_blog_area css start ===*/
	.slick-prev,
	.slick-next {
		background: transparent;
		border: 2px solid #0c3eb9;
		height: 52px;
		width: 52px;
		border-radius: 5px;
		font-size: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		line-height:48px;
		transition: .5s all ease;
		opacity: 0;
	}
	.slick-prev:hover,
	.slick-next:hover {
		background-color: #0c3eb9;
		color: #fff;
	}
	.slick-prev {
		left: -75px;
		right: auto;
	}
	.slick-next {
		right: -75px;
		left: auto;
	}
	.slick-prev::before,
	.slick-next::before {
		content: '\ea94';
		font-family:IcoFont;
		font-size: 30px;
	}
	.slick-prev::before {
		content: '\ea93';
	}
	.slick-next::before {
		content: '\ea94';
	}
	.slick-slider:hover .slick-prev,
	.slick-slider:hover .slick-next{
		opacity: 1;
	}
	.techit_blog_area {
		padding: 120px 0;
	}
	.techit_blog_area .section_title {
		width: 100%;
	}
	.techit_blog_area .section_title h2 {
		margin-bottom: 12px;
	}
	.blog_team_area {}
	.single_blog {
		position: relative;
		overflow: hidden;
		margin: 0 15px;
	}
	.single_blog_inner {}
	.blog_content_inner span {}
	.blog_content_inner span a {
		margin-right: 7px;
		color: #626262;
	}
	.blog_content_inner span a i{
		margin-right: 7px;
		color: #0c3eb9;
	}
	.blog_tumb img {
		width: 100%;
	}
	.blog_content {
		position: absolute;
		left: 10px;
		bottom: -74px;
		background: #fff;
		padding: 20px 25px;
		transition: .7s;
		right: 10px;
	}
	.blog_content p {
		font-size: 16px;
		color: #0c3eb9;
		font-weight: 700;
		margin-bottom: 4px;
	}
	.blog_content h3 {
		font-size: 23px;
	}
	.service_btn {}
	.service_btn a {
		font-size: 16px;
		font-weight: 400;
		color: #fff;
		background: #0c3eb9;
		padding: 13px 25px;
		border-radius: 5px;
		display: inline-block;
		transition: 1s;
		border: 1px solid #0c3eb9;
	}
	.service_btn a i {
		margin-left: 5px;
		transition: .5s;
	}
	.service_btn a:hover i {
		margin-left: 10px;
	}

	.blog_content_inner {
		text-align: left;
	}

	.service_btn a:hover {
		border: 1px solid #ececec;
		background: transparent;
		color: #0c3eb9;
	}
	.single_blog:hover .blog_content {
		bottom: 0;
	}
	/*=== techit_blog_area css ends ===*/

	/*=== footer_area css start ===*/
	.footer_area {}
	.middle_footer {
		padding: 100px 0 55px;
		background-color: #182c44;	
	}
	.techit_descrip_footer_area {}
	.techit_descrip_footer_area a {}
	.techit_descrip_footer_area a  img {
		margin-bottom: 20px;
	}
	.techit_descrip_footer_area p {
		font-size: 18px;
		letter-spacing: 1px;
		color: #fff;
	}
	.footer_social_icon {}
	.footer_social_icon a {}
	.footer_social_icon a i {
		height: 38px;
		width: 38px;
		background: #ffffff47;
		color: #fff;
		display: inline-block;
		line-height: 38px;
		text-align: center;
		font-size: 17px;
		border-radius: 5px;
		transition: .4s;
		margin-right: 3px;

	}
	.footer_social_icon a:hover i {
		background-color: #0c3eb9;
	}
	.widget {
		text-align: center;
	}
	.widget_title {}
	.widget_address {
		text-align: left;
	}
	.widget_address p {
		font-size: 18px;
		letter-spacing: 1px;
		color: #fff;
	}
	.widget_address span {
		font-size: 18px;
		letter-spacing: 1px;
		color: #fff;
	}
	.widget_address span i {
		font-size: 18px;
		margin-right: 12px;
		color: #fff;
	}
	.widget_title h3 {
		font-size: 27px;
		color: #fff;
		margin-bottom: 25px;
		text-align: left;
		margin-left: 30px;
	}
	.widget_title .wid_add_title {
		text-align: left;
		margin-left: 0;
	}
	.widget_menu {
		text-align: left;
	}
	.widget_menu ul {}
	.widget_menu ul li {}
	.widget_menu ul li a {
		color: #fff;
		font-size: 18px;
		padding-bottom: 10px;
		display: inline-block;
		transition: .4s;
	}

	.widget_menu ul li a:hover {
		color: #0c3eb9;
	}

	/*=== bottom_footer css start ===*/
	.bottom_footer {
		background: #182c44 none repeat scroll 0 0;
		padding: 26px 0 24px;
		position: relative;
	}
	.bottom_footer::before {
		content: "";
		position: absolute;
		top: 0;
		background: #39424d;
		height: 1px;
		width: 88%;
		left: 0;
		right: 0;
		margin: auto;
	}
	.footer_copyright_text {}
	.footer_copyright_text p {
		color: #fff;
		font-size: 18px;
		letter-spacing: .8px;
	}
	.bottom_footer_menu {
		text-align: right;
	}
	.bottom_footer_menu ul {
		list-style: none;
	}
	.bottom_footer_menu ul li {
		display: inline-block;
	}
	.bottom_footer_menu ul li a {
		text-decoration: none;
		padding: 0 10px;
		color: #fff;
		font-size: 18px;
		letter-spacing: .8px;
		transition: .4s;
	}
	.bottom_footer_menu ul li a:hover {
		color: #0c3eb9;
	}
	/*=== footer_area css start ===*/

	
	/*scrolltotop*/
	.scrolltotop {

		position: fixed;
		right: 90px;
		bottom: 50px;
		height: 40px;
		width: 40px;
		background-color: #0c3eb9 ;
		display: block;
		line-height: 50px;
		text-align: center;
		z-index: 1;
		display: none;
		transition: .5s;
		
	}
	
	.scrolltotop i {
		font-size: 30px;
		color: #fff;
	}
	.myclass {
		display: block;
	}

	/*mobile menu css start*/

	
	.main_menu_area {
		display: block;
	}
	.mobile_munu_area {
		display: none;
	}
	.mean-container .mean-bar::before {
		color: #fff;
		content: 'MENU';
		font-size: 18px;
		font-weight: 700;
		left: 10px;
		position: absolute;
		top: 13px;
	}
	.mean-container .mean-bar {
		background: #0c3eb9;

	}
	
	.mean-container .mean-nav ul li a {
		border-top: 1px solid #000 !important;
		color: #000;
		font-size: 13px;
		font-weight: 600;
	}
	.mean-container .mean-nav ul li li a {
		color: #000;
		font-size: 11px;
		font-weight: 500; 
	}
	.mean-container .mean-nav {
		background: #ffffff;
	}
	.mean-container .mean-nav ul li a.mean-expand:hover {
		background: none;
	}


	